[[source]]

url = "https://artifacts.rackspace.net/artifactory/api/pypi/pypi/simple"
verify_ssl = true
name = "artifactory"


[packages]

requests = "*"
Flask = "*"
flask-restplus = "*"
qe_coverage = "*"


[dev-packages]

