[jira]
JIRA_URL=https://jira.rax.io
USERNAME=YOUR_USERNAME
PASSWORD=YOUR_PASSWORD
DEFAULT_ASSIGNEE=%(USERNAME)s
TEST_PROJECT=YOUR_QE_PROJECT
WATCHERS=comma,separated,list
DEFAULT_COMPONENTS=comma,separated,list
DEFAULT_LABELS=comma,separated,list
DEFAULT_ISSUE_TYPE=Story
DEFAULT_DESCRIPTION=Do necessary QE testing around the linked Dev JIRA
# Summary can expect two values passed in to .format() - 1) dev_jira_id, 2) dev_jira_summary
DEFAULT_SUMMARY=QE Testing for: {dev_jira_id} - {dev_jira_summary}

